.timer {
  color: var(--color-light);
  padding-bottom: 40px;
}

.timeWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  gap: 30px;
}

.textWrapper {
  display: flex;
}

.hours, .minutes, .seconds {
  position: relative;
  width: 70px;
  text-align: center;

  &::after {
    bottom: -40px;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.hours::after {
  content: 'hours';
}

.minutes::after {
  content: 'minutes';
}

.seconds::after {
  content: 'seconds';
}
