.timerButton {
  position: relative;
  display: flex;
  justify-content: center;
}

.atTimer {
  position: absolute;
  top: -165px;
}

.atButton {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;

  &:before, &:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid var(--base-color-light);
  }

  &:before {
    left: 50%;
  }

  &:after {
    right: 50%;
  }
}
