.button {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  align-items: center;
  border-radius: 100px;
  border: none;
  padding: 12px 24px;
  transition: .1s background-color, color, border;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 40px;

  &:not(:disabled) {
    cursor: pointer;
  }
}

.button.filled {
  color: var(--color-light);
  background: var(--color-dark);

  &:disabled {
    background: rgba(var(--color-dark--rgb), .6);
  }

  &:not(:disabled) {
    &:hover {
      background: rgba(var(--color-dark--rgb), .8);
    }

    &:active {
      background: rgba(var(--color-dark--rgb), .7);
    }
  }
}

.button.stroked {
  color: var(--color-dark);
  background: transparent;
  border: 2px solid var(--color-dark);

  &:disabled {
    color: rgba(var(--color-dark--rgb), .6);
    border-color: rgba(var(--color-dark--rgb), .1);
  }

  &:not(:disabled) {
    &:hover {
      background: rgba(var(--color-dark--rgb), .05);
    }

    &:active {
      background: rgba(var(--color-dark--rgb), .07);
    }
  }
}

.button.ghost {
  color: var(--color-dark);
  background: transparent;
  border: none;

  &:not(:disabled) {
    &:hover {
      background: rgba(var(--color-dark--rgb), .1);
    }

    &:active {
      background: rgba(var(--color-dark--rgb), .2);
    }
  }
}

.buttonLoadingBubbles.stroked span {
  background: var(--color-neutral-dark);
}

.buttonLoadingBubbles.ghost span {
  background: var(--color-neutral-dark);
}
