@font-face {
  font-family: 'Unbounded';
  font-weight: 400;
  src: local('Unbounded'), url(./Unbounded-Regular.ttf);
}

@font-face {
  font-family: 'Unbounded';
  font-weight: 500;
  src: local('Unbounded'), url(./Unbounded-Medium.ttf);
}
