.iconButton {
  border-radius: 50%;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    opacity: .3;
  }
}
