:root {
  --color-light: #fff;
  --color-light--rgb: 255, 255, 255;
  --color-dark: #000;
  --color-dark--rgb: 0, 0, 0;
  --color-neutral: #C2BFBF;
  --color-neutral-dark: #282828;
  --color-error: #972020;
}
