.timerButton {
  position: relative;
  display: flex;
  justify-content: center;
}

.atTimer {
  position: absolute;
  top: -165px;
}

.atButton {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
