.atButton {
  width: 335px;
  height: 117px;
  border-radius: 100px;
  background: var(--color-neutral-dark);
  border: 2px solid var(--color-light);
  transition: .2s;

  &:not(:disabled) {
    cursor: pointer;
  }
}

.atButton:disabled .atButtonText {
  text-decoration-line: line-through;
}

.atButtonText {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1.2px;
  color: var(--color-light);
}
