.iconButton {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--base-color-light);
  background: rgba(var(--base-color-light--rgb), .35);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background: rgba(var(--base-color-light--rgb), .4);
    }

    &:active {
      background: rgba(var(--base-color-light--rgb), .5);
    }
  }

}
